@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

body {
  margin: 0;
  padding: 0;
  background-color: rgb(84, 147, 248)
}

* {
  font-family: "Montserrat";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  transform: scale(0.05);
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.cta {
  color: white;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  #text {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }

  #text {
    font-size: 0.5em;
  }
}

.hidden {
  opacity: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.h1container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.h1title {
  color: #fcdde8;
  font-size: calc(1em + 20vw);
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1,
    0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca,
    0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0,
    0.035em 0.035em 0 #f9c0d3;
}

.firstparent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.secondparent {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  font-size: 20px;
}

.secondparent span {
  font-weight: 600;
  float: right;
}

.secondparent ul {
  list-style-type: none;
  width: 50ch;
  font-size: 18px;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-weight: 500;
  font-size: 25px;
  background-color: #24252a;
  color: white;
  border-radius: 15px;
}
.div2 {
  grid-area: 4 / 1 / 6 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  border: 1px solid rgb(78, 78, 78);
  border-radius: 15px;
}

.div3 {
  grid-area: 1 / 3 / 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3 img {
  width: 70%;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgb(78, 78, 78);
}

.div4 {
  grid-area: 5 / 3 / 6 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4 img {
  width: 70%;
}

.div1 p {
  font-size: 18px;
  width: 50ch;
}
